@font-face {
  font-family: Neu;
  src: url(NeueMontreal-Regular-cafca4d5.woff2);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Neu";
}

body,
html {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  background-color: #ffffff;
}
#Navbar {
  width: 90%;
  height: fit-content;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active {
  color: #b3b3b3 !important;
}
.Nav-logo {
  letter-spacing: 0.5rem;
  color: #000000;
  font-weight: 800;
  font-size: 1rem;
}
.Nav-logo h1 {
  display: flex;
  align-items: center;
}
.Nav-logo span {
  font-weight: 100;
  font-size: 3rem;
  line-height: 3rem;
}
.Nav-link a {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0rem 1rem;
  color: #000000;
  text-decoration: none;
}
#Home {
  width: 100%;
  height: 100%;
  padding: 2rem 5rem;
}
#Home h1 {
  font-size: 6rem;
  line-height: 5rem;
  font-weight: 900;
  margin-top: 5rem;
}
#Home h3 {
  margin-top: 3rem;
  font-size: 2rem;
  margin-bottom: 3rem;
}
#Home h3 span {
  color: #a8a8a8;
}
#Home .btn {
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}
#Home .btn:hover {
  border: 0;
  background-color: #000000;
  color: #ffffff;
}

#work {
  width: 90%;
  height: fit-content;
  padding: 2rem 5rem;
}
.work-section-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #232323;
  margin-bottom: 5rem;
}
.project {
  width: 100%;
  height: 100%;
  margin-bottom: 10rem;
}
.image-div {
  position: relative;
  width: 100%;
  height: 80vh;
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(2px 2px 5px #b3b3b3);
}
.view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
}
.image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.image-div:hover .view {
  cursor: pointer;
  opacity: 1;
}

.project-info {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: start;
  font-size: 1.2rem;
  font-weight: 500;
}

#contact {
  width: 100%;
  height: fit-content;
  padding: 5rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 3rem;
}
.text p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  color: #232323;
}
.text a {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  color: #232323;
  border: 1px solid #000000;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  font-weight: 100;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
}
.text a:hover {
  background-color: #000000;
  color: #ffffff;
  font-weight: 100;
}
#footer {
  padding: 2rem 5rem;
  width: 100%;
  height: fit-content;
  background-color: #000000;
  color: #ffffff;
}
#footer h1 {
  font-size: 6rem;
  line-height: 5rem;
  font-weight: 900;
  margin-top: 5rem;
}

.footer-navigation {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.social-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  position: relative;
}
.footer-navigation a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  position: relative;
}
.footer-navigation a span {
  font-size: 1.8rem;
  margin-left: 0.5rem;
}
.footer-navigation p {
  width: 30%;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

/* About Section */

#about-short-info {
  width: 90%;
  height: fit-content;
  padding: 2rem 5rem;
}

#about-short-info h1 {
  font-size: 6rem;
  line-height: 5rem;
  font-weight: 900;
  margin-top: 5rem;
}
#about-short-info h3 {
  width: 50%;
  margin-top: 3rem;
  font-size: 2rem;
  margin-bottom: 3rem;
}
#about-short-info h3 span {
  color: #a8a8a8;
}

#about-short-info img {
  margin: auto auto;
  filter: grayscale(0.6);
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 5rem;
}

#about-short-info p {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  color: #232323;
  width: 70%;
  text-align: justify;
}
.info-div{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills{
  width: 90%;
  height: fit-content;
  padding: 2rem 5rem;
  margin-top: 5rem;
}
.skills-title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.skills-title h1{
  font-size: 8rem;
  font-weight: 900;
  color: #000000;
}
.skills-title a {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  color: #232323;
  border: 1px solid #000000;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  font-weight: 100;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
}
#skills a:hover {
  background-color: #000000;
  color: #ffffff;
  font-weight: 100;
}

.skills{
  width: 90%;
  height: fit-content;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.skills h1{
  font-size: 2rem;
  width: 30%;
}
.skills p{
  width: 40%;
  font-size: 1.4rem;
  text-align: justify;
  line-height: 2rem;
  font-weight: 900;
  letter-spacing: 0rem;
  color: #a1a1a1;
}
.skills ul{
  width: 30%;
}
.skills ul li{
  text-decoration: none;
  list-style: none;
  margin: 1rem 1rem;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 900;
}


/* ----------------------------- Animation ----------------------------- */

/* Set up the animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation to the element when it's in view */
.animations {
  opacity: 0 ;
  animation: fadeIn ease-in-out 5s;
  animation-timeline: view();
}

/* Set some default styles for the element */
