* {
  margin: 0;
  padding: 0;
  font-family: "bonnevarc";
  box-sizing: border-box;
}
html,
body {
  background-color: #f9f9f9;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
#Navbar {
  width: 100vw;
  height: fit-content;
  padding: 2rem 5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
}
.nav-logo {
  color: #f9f9f9;
  font-size: large;
  letter-spacing: 0.1rem;
}
#Home {
  color: #f9f9f9;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/Home-img.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
}
#Home > h1 {
  font-size: 14rem;
  font-weight: 100;
  letter-spacing: -0.5rem;
}
.navigation-info-div-Home {
  width: 100%;
  height: 8rem;
  border-top: 2px solid #f9f9f9;
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.navigation-info-div-Home > h3 {
  padding: 1rem 0rem;
  font-size: large;
  font-weight: 400;
  line-height: 1rem;
  text-align: justify;
  letter-spacing: 0.2rem;
}
.navigation-info-div-Home > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.navigation-info-div-Home > div > a {
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  border: 2px solid #f9f9f9;
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
}
.navigation-info-div-Home > p {
  font-size: medium;
  font-weight: 600;
  line-height: 1.1rem;
  text-align: left;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
#Home-2 {
  width: 100%;
  height: fit-content;
  padding: 2rem 5rem;
}
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.6fr 0.5fr 0.5fr;
  gap: 20px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "PLANE-1 TEXT-AREA"
    "PLANE-1 PLANE-2"
    "EMPTY_AREA PLANE-2";
}

.PLANE-1 {
  grid-area: PLANE-1;
  background-image: url("../assets/Model-10.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeIn 5s; 
}



.PLANE-2 {
  grid-area: PLANE-2;
  background-image: url("../assets/Model-11.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeIn 5s; 
}

.TEXT-AREA {
  grid-area: TEXT-AREA;
  background-color: #f9f9f9;
}
.TEXT-AREA > h2 {
  color: #292929;
  text-align: end;
  font-size: 8rem !important;
  font-weight: 200 !important;
}

.EMPTY_AREA {
  grid-area: EMPTY_AREA;
  background-color: #f9f9f9;
}
#Description {
  width: 100%;
  height: 30vh;
  padding: 2rem 5rem;
  text-align: center;
  margin-bottom: 10rem;
}
#Description > h4 {
  font-size: 2rem;
  color: #656565;
  font-weight: 600;
  letter-spacing: 0rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}
#Description > h4 > .img {
  padding: 0.4rem 6rem;
  border-radius: 50px;
  margin: 0px 0.5rem;
  background-size: cover;
  background-position: center;
}
#Description > h4 > .img-1 {
  background-image: url("../assets/Model-3.jpg");
  animation: fadeIn 5s; 
}
#Description > h4 > .img-2 {
  background-image: url("../assets/Model-4.jpg");
  animation: fadeIn 5s; 
}
#Description > h4 > .company {
  color: #292929;
  font-weight: 900;
}
#New-Arrivals {
  width: 100%;
  height: 200vh;
  padding: 3rem 5rem;
  margin-bottom: 5rem;
}
.New-Arrivals-title > h1 {
  font-size: 8rem;
  font-weight: 500;
  color: #292929;
}
.New-Arrivals-title > h1 > span {
  width: fit-content;
  height: fit-content;
  padding: 0rem 1rem;
  border-radius: 50%;
  box-shadow: 3px 3px 0px 3px #292929;
}
.New-arrivals-models {
  width: 100%;
  height: 70%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "MODEL-1 MODEL-1 MODEL-2 MODEL-3"
    "MODEL-1 MODEL-1 MODEL-6 MODEL-6"
    "MODEL-4 MODEL-5 MODEL-6 MODEL-6";
}
.border {
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.MODEL-3 {
  grid-area: MODEL-3;
  background-image: url("../assets/Model-7.jpg");
  animation: fadeIn 5s; 
}

.MODEL-6 {
  grid-area: MODEL-6;
  background-image: url("../assets/Model-5.jpg");
  background-position: top !important;
  animation: fadeIn 5s; 
}

.MODEL-4 {
  grid-area: MODEL-4;
  background-image: url("../assets/Model-9.jpg");
  animation: fadeIn 5s; 
}

.MODEL-5 {
  grid-area: MODEL-5;
  background-image: url("../assets/Model-10.jpg");
  animation: fadeIn 5s; 
}

.MODEL-1 {
  grid-area: MODEL-1;
  background-image: url("../assets/Model-6.jpg");
  background-position: top !important;
  animation: fadeIn 5s; 
}

.MODEL-2 {
  grid-area: MODEL-2;
  background-image: url("../assets/Model-8.jpg");
  animation: fadeIn 5s; 
}
#Shop-From-Us {
  width: 100%;
  height: 100vh;
  padding: 2rem 5rem;
}
#Shop-From-Us > h1 {
  text-align: center;
  font-size: 8rem;
  font-weight: 300;
}
.div-section {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.box {
  width: 30%;
  padding: 2rem 2rem;
  height: fit-content;
  background-color: #d1d1d1;
}
.box > div {
  width: fit-content;
  padding: 0.8rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  background-color: #f9f9f9;
}
.box > div > img {
  width: 50px;
}
.box > h1 {
  color: #292929;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-align: left;
}
.box > p {
  font-size: 1rem;
  font-weight: 800;
  color: #656565;
  letter-spacing: 0.1rem;
  text-align: left;
  margin-top: 2rem;
}
#Footer {
  width: 100%;
  height: fit-content;
  margin-top: 4rem;
}
#Footer h1 {
  font-size: 8.5rem;
  text-align: center;
  letter-spacing: 2rem;
}
.footer {
  width: 100%;
  padding: 1rem 6.5rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer img {
  width: 50px;
}
.footer h2 {
  font-size: 2rem;
  font-weight: 400;
}

/* --------------------------------------------- Animation Key Frames--------------------------------------------- */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Define the in-view class */
.in-view {
  opacity: 1;
}

/* Use the :not() pseudo-class to apply the animation only when the item is in view */
.item {
  opacity: 0;
  transition: opacity 0.7s ease-in;
}

.item:not(.in-view) {
  opacity: 0;
}

/* Add the in-view class when the item is in view */
.item.in-view {
  opacity: 1;
}


/* -------------------------------------------- Responsiveness For Mobiles --------------------------------------- */

@media only screen and (max-width: 500px) {
  #Navbar {
    width: 100vw;
    height: fit-content;
    padding: 2rem 0rem;
    display: block;
    text-align: center;
  }
  #Home > h1 {
    font-size: 3.5rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
  }
  .navigation-info-div-Home {
    height: fit-content;
    padding: 2rem 1rem;
  }
  .navigation-info-div-Home {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 2rem;
    border-top: 0px;
  }
  .navigation-info-div-Home > p {
    grid-column: 1 / span 3;
  }
  .navigation-info-div-Home > div {
    grid-area: 3;
    justify-content: end;
  }
  .navigation-info-div-Home > h3 {
    grid-area: 3;
  }
  #Home-2 {
    padding: 2rem 1rem;
  }
  .container {
    grid-template-areas:
      "PLANE-1 PLANE-1"
      "TEXT-AREA TEXT-AREA"
      "PLANE-2 PLANE-2";
    gap: 20px 0px;
  }
  #Description {
    padding: 0rem 1rem;
    text-wrap: balance;
    margin-bottom: 0rem;
  }
  #Description > h4 {
    font-size: 1rem;
    line-height: 2.3rem;
  }
  #Description > h4 > .img {
    padding: 0.4rem 3rem;
  }
  #New-Arrivals {
    padding: 3rem 1rem;
    margin-bottom: 0rem;
  }
  .New-Arrivals-title > h1 {
    font-size: 5rem;
  }
  .New-Arrivals-title > h1 > span {
    padding: 5px;
    display: flex;
  }
  .New-arrivals-models {
    grid-template-rows: 200px 200px 200px;
    gap: 5px 5px;
  }
  #New-Arrivals {
    height: fit-content;
  }
  #Shop-From-Us {
    padding: 2rem 1rem;
    height: fit-content;
  }
  #Shop-From-Us > h1 {
    text-align: right;
    font-size: 5rem;
    margin-bottom: 5rem;
  }
  .div-section {
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
  }
  .box {
    width: 100%;
    padding: 1rem 1rem;
  }
  #Footer {
    margin-top: 1rem;
  }
  #Footer h1 {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }
  .footer {
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and ((min-width: 500px) and (max-width: 900px)) {
  #Navbar {
    width: 100vw;
    height: fit-content;
    padding: 2rem 0rem;
    display: block;
    text-align: center;
  }
  #Home > h1 {
    font-size: 3.5rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
  }
  .navigation-info-div-Home {
    height: fit-content;
    padding: 2rem 7rem;
  }
  .navigation-info-div-Home {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 2rem;
    border-top: 0px;
  }
  .navigation-info-div-Home > p {
    grid-column: 1 / span 3;
  }
  .navigation-info-div-Home > div {
    grid-area: 3;
    justify-content: end;
  }
  .navigation-info-div-Home > h3 {
    grid-area: 3;
  }
  #Home-2 {
    padding: 2rem 1rem;
  }
  .container {
    grid-template-rows: 1.6fr 0.5fr 1.5fr;
    grid-template-areas:
      "PLANE-1 PLANE-1"
      "TEXT-AREA TEXT-AREA"
      "PLANE-2 PLANE-2";
    gap: 20px 0px;
  }
  #Description {
    padding: 0rem 1rem;
    text-wrap: balance;
    margin-bottom: 0rem;
  }
  #Description > h4 {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
  #Description > h4 > .img {
    padding: 0.4rem 3rem;
  }
  #New-Arrivals {
    padding: 3rem 1rem;
    margin-bottom: 0rem;
  }
  .New-Arrivals-title > h1 {
    font-size: 6rem;
  }
  .New-Arrivals-title > h1 > span {
    padding: 5px;
    display: flex;
  }
  .New-arrivals-models {
    grid-template-rows: 200px 200px 200px;
    gap: 5px 5px;
  }
  #New-Arrivals {
    height: fit-content;
  }
  #Shop-From-Us {
    padding: 2rem 1rem;
  }
  #Shop-From-Us > h1 {
    text-align: center;
    font-size: 6rem;
    margin-bottom: 5rem;
  }
  .div-section {
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
  }
  .box {
    width: 70%;
    padding: 1rem 1rem;
  }
  #Footer {
    margin-top: 5rem;
  }
  #Footer h1 {
    font-size: 4.5rem;
    letter-spacing: 1.5rem;
  }
  .footer {
    padding: 1.5rem 3.5rem;
  }
}
